.settings-button {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    right: 20%;
    top: 5%;
}

.settings-button:hover {
    background: #005a9e;
}

.settings-menu__wrapper {
    position: absolute;
    bottom: 100%;
    right: 20%;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100000;
    padding: 20px;
}

.settings-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.settings-menu__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.settings-menu__label {
    display: flex;
    align-items: center;
    font-size: 1.05rem;
}

.settings-menu__select {
    padding: 0.2rem;
    font-size: 1.05rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 1rem;
    cursor: pointer;
}
